#all{

    text-align: center;

    margin: 2rem;

   
}

*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

#rodape{

    text-align: center;
    margin: 2rem;


}

header{


    border-radius: 0.8rem;

    border: 2px solid black;

    font-family: 'DotGothic16', sans-serif;

    margin: 3rem;
    

}

#cabecalho{


    border-radius: 0.8rem;

    border: 2px solid black;


    margin: 2rem;


}
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    border-radius: 00.8rem;
}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid blue;
}

a{


    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    display: block;

}



#frase{

    border-radius: 0.8rem;

    border: 2px solid black;

    padding: 2rem;

    margin: 2rem;

    font-family: 'Redressed', cursive;

    font-size: 2rem;

}
